@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //if the layout is not specified it will look in Pages/Shared/_ViewStart.cshtml
    //   and use the default layout specified in that file
}

<div class="text-center">
    <h1 class="display-4">Welcome to @Model.Course.Number</h1>
    <h2>@Model.Course.Name</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">
        building Web apps with ASP.NET Core</a>. @Model.Message
    </p>
    <form method="post">
        <label>
            Career Path:
            <input type="text" asp-for="CareerPath" />&nbsp;
        </label>
        <label>
            Term Start:
            <input type="date" asp-for="Course.TermStart" />
        </label>
        <button type="submit">Submit Form</button>
    </form>
</div>
